.button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: inherit;
  &--theme:hover &__image {
    transform: scale(1.07);
  }

  &__image {
    transition: transform 0.3s;
  }

  &--submit {
    width: 1.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid var(--color-button-border);
  }
}
